{% extends "layout.html" %}

{% block heading %}
    Display!
{% endblock %}

{% block body %} 
    <h2>{{ headline }}</h2>

{% for image in images %}
    <div id="books-overall" class="row">
            <div id="book_image" class="column">
                <img src ='{{ url_for("static", filename="images/" + image[0] )}}' alt="book cover">
            </div>
            <div id="book_info" class="column">
                <p>{{image[1]}}</p>
                <p>{{image[2]}}</p>
                <p>{{image[3]}}</p>
                <br>
            </div>
    </div>

{% endfor %}
    
{% endblock %}