{% extends "layout.html" %}

{% block heading %}
    Display!
{% endblock %}

{% block body %} 
    <h2>{{ headline }}</h2>

    <div id="books-overall">
        {% for image in images %}
            <div id="books">
            <img src ='{{ url_for("static", filename="images/" + image[0] )}}'>
            <h3>{{image[1]}}</h3>
            <h3>{{image[2]}}</h3>
            <h3>{{image[3]}}</h3>
        <br/>
            </div>
        {% endfor %}   
        
        <!-- <div id="book1">
            <img src="{{url_for('static', filename='images/1.jpg')}}"/>
            <h3>Harry Potter and the Half-a Gas Can</h3>
            <h3>J.K. Rowling</h3>
            <h3>Harry Potter</h3>
        </div>
        <div id="book2">
            <img src="{{url_for('static', filename='images/2.jpg')}}"/>
            <h3>Something Something Vampires Something</h3>
            <h3>Stephanie Myer</h3>
            <h3>Twilight</h3>
        </div>
        <div id="book3">
            <img src="{{url_for('static', filename='images/3.jpg')}}"/>
            <h3>Really Cool Dragons and Things</h3>
            <h3>Aaron Pogue</h3>
            <h3>DragonPrince Trilogy</h3>
        </div> -->
    </div>

    
{% endblock %}