{% extends "layout.html" %}

{% block heading %}
    My Collection!!
{% endblock %}

{% block body %} 
    <div id="nav">
        <h3>*</h3>
        <h3>*</h3>
        <h3>*</h3>
        <h3>*</h3>
    </div>
    <h2>Welcome to you personalized collection webpage! Here you can add new items
    to your collection, delete the ones you don't want, or just stare lovingly
    at your collection in a way that is definitely not creepy! Have fun!!</h2>

    {% for image in images %}
        <div id="books-overall" class="row">
            <div id="book_image" class="column">
                <img src ='{{ url_for("static", filename="images/" + image[0] )}}' alt="book cover">
            </div>
        </div>
    {% endfor %}

{% endblock %}